
<div class="container mt-4" >
    <div class="card">
            <h1>Player Details </h1>
<form>
    <div class="form-group">
      <label>Player_Name</label>
      <input type="text" [(ngModel)]="Player_Name" [ngModelOptions]="{standalone: true}"  class="form-control" id="Player_Name" placeholder="Enter Player Name"> 
    </div>

    <div class="form-group">
        <label>Team</label>
        <input type="text" class="form-control"  [(ngModel)]="Team" [ngModelOptions]="{standalone: true}" id="Team" placeholder="Enter Team"> 
      </div>

    <div class="form-group">
      <label>Rushing_Yards</label>
      <input type="text" class="form-control"  [(ngModel)]="Rushing_Yards" [ngModelOptions]="{standalone: true}" id="Rushing_Yards" placeholder="Enter Rushing_Yards"> 
    </div>

      <div class="form-group">
        <label>Touchdowns_thrown</label>
        <input type="text" class="form-control" [(ngModel)]="Touchdowns_thrown" [ngModelOptions]="{standalone: true}" id="Touchdowns_thrown" placeholder="Enter Touchdowns_thrown"> 
      </div>

      <div class="form-group">
      <label>Sacks</label>
      <input type="text" class="form-control" [(ngModel)]="Sacks" [ngModelOptions]="{standalone: true}" id="Sacks" placeholder="Enter Sacks"> 
    </div>

    <div class="form-group">
        <label>Field_goal</label>
        <input type="text" class="form-control" [(ngModel)]="Field_goal" [ngModelOptions]="{standalone: true}" id="Field_goal" placeholder="Enter Field_goal"> 
      </div>

      <div class="form-group">
        <label>Catches</label>
        <input type="text" class="form-control" [(ngModel)]="Catches" [ngModelOptions]="{standalone: true}" id="Catches" placeholder="Enter Catches"> 
      </div>

    <button type="submit" (click)="save()" class="btn btn-primary">Submit</button>
    
  </form>
</div>
</div>

<div class="container mt-4" >
 <h1>Players Table</h1>
 
<table class="table">
  <thead>    
  <tr>
      <th scope="col">_ID</th>
      <th scope="col">Player_Name</th>
      <th scope="col">Team</th>
      <th scope="col">Rushing_Yards</th>  
      <th scope="col">Touchdowns_thrown</th>  
      <th scope="col">Sacks</th>  
      <th scope="col">Field_goal</th>
      <th scope="col">Catches</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let NflItem of NflArray" >
      <td>{{NflItem.currentNflID }}</td>
      <td>{{NflItem.Player_Name }}</td>
      <td>{{NflItem.Team}}</td>
      <td>{{NflItem.Rushing_Yards}}</td>
      <td>{{NflItem.Touchdowns_thrown}}</td>
      <td>{{NflItem.Sacks}}</td>
      <td>{{NflItem.Field_goal}}</td>
      <td>{{NflItem.Catches }}</td>
      <td>
      <button type="button" class="btn btn-success" (click)="setUpdate(NflItem)">Edit</button>
       <button type="button" class="btn btn-danger" (click)="setDelete(NflItem)">Delete</button>            
      </td>
    </tr>          
  </tbody>
</table>

</div>